@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
section form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 2rem;
}
section form fieldset :is(input, textarea, label) {
  font-size: 1.5rem;
}
section form input[type=submit] {
  float: right;
}

section h1 {
  font-size: 3rem;
  color: #CB6843;
  margin-bottom: 3rem;
}

/*# sourceMappingURL=home.css.map */
