@import "../helpers/variables";

section form {
  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 2rem;

    :is(input, textarea, label) {
      font-size: 1.5rem;
    }
  }

  input[type=submit] {
    float: right;
  }
}

section h1 {
  font-size: 3rem;
  color: $terracota;
  margin-bottom: 3rem;
}