@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
.view-sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  order: 2;
  width: 100%;
  padding: 2rem 2rem 0;
  position: relative;
}
.view-sidebar .view-sidebar_logo {
  display: none;
}

@media screen and (min-width: 992px) {
  .view-sidebar {
    order: 0;
    min-width: min(280px, 30dvw);
    max-width: min(280px, 30dvw);
    min-height: 100vh;
    background: #CB6843;
    padding: 0 1rem;
  }
  .view-sidebar .view-sidebar_logo {
    display: flex;
    margin: 2rem auto;
    min-width: 200px;
    aspect-ratio: 16/9;
    background: #F9F3E6 url("@/assets/img/logo-lci.png") no-repeat center;
    background-size: contain;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=view-aside.css.map */
