@import "../helpers/variables";

.view-sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  order: 2;
  width: 100%;
  padding: 2rem 2rem 0;
  position: relative;

  .view-sidebar_logo {
    display: none;
  }
}

@media screen and (min-width: $desktopBp) {
  .view-sidebar {
    order: 0;
    min-width: $asideSize;
    max-width: $asideSize;
    min-height: 100vh;
    background: $terracota;
    padding: 0 1rem;

    .view-sidebar_logo {
      display: flex;
      margin: 2rem auto;
      min-width: 200px;
      aspect-ratio: 16/9;
      background: $beige url("@/assets/img/logo-lci.png") no-repeat center;
      background-size: contain;
      border-radius: $radiusSmall;
    }
  }
}
