// Colors (palette).
$terracota : #CB6843 !default;
$beige : #F9F3E6 !default;

// Sizes.
$asideSize: min(280px, 30dvw) !default;
$contentFormSize1: min(580px, 55vw) !default;
$contentFormSize2: min(800px, 55vw) !default;

// Breakpoints.
$tabletBp: 728px !default;
$desktopBp: 992px !default;
$largeDesktopBp: 1200px !default;

// Radius.
$radiusSmall: 5px;
$radiusCircle: 50%;
$radiusBig: 15px;

// Fonts.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
$titleFont: "Yeseva One", serif;
$textFont: "Montserrat", sans-serif;