<template>
  <section>
    <h1>Feedback</h1>

    <form @submit.prevent="handleSubmit">
      <fieldset>
        <label for="name">Nom :</label>
        <input type="text" name="name">
      </fieldset>

      <fieldset>
        <label for="firstname">Prénom :</label>
        <input type="text" name="firstname">
      </fieldset>

      <fieldset>
        <label for="email">Email :</label>
        <input type="email" name="email">
      </fieldset>

      <fieldset>
        <label for="msg">Message :</label>
        <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
      </fieldset>

      <input type="submit" value="SOUMETTRE">
    </form>
  </section>
</template>

<script lang="ts">
  import {defineComponent, ref} from "vue";
  import {useRouter} from "vue-router";

  export default defineComponent({
    name: 'HomeView',
    setup() {
      const router = useRouter();
      const handleSubmit = () => {
        router.push({name: 'thanks'})
      };

      return {
        handleSubmit,
      }
    },
  })
</script>

<style lang="scss">
  @import "@/assets/views/home";
</style>
