<!-- src/views/ThankYouView.vue -->
<template>
  <h1>Merci pour votre retour !</h1>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  name: 'ThankYouView'
})
</script>
