<template>
  <aside class="view-sidebar">
    <div class="view-sidebar_logo" />

    <slot />
  </aside>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ViewAside",
});
</script>

<style lang="scss">
@import "@/assets/components/view-aside";
</style>
