@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}
body #lci-demo {
  overflow-x: hidden;
}

main {
  width: 100dvw;
  min-height: 100dvh;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
}
main .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  max-height: 100dvh;
  background-color: #F9F3E6;
}
main :is(button, .button, input[type=submit]) {
  background-color: #CB6843;
  color: #F9F3E6;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: 3px solid #CB6843;
  transition: all ease 0.3s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
main :is(button, .button, input[type=submit]):hover {
  background-color: #F9F3E6;
  color: #CB6843;
}
main :is(h1, h2, h3, h4) {
  font-family: "Yeseva One", serif;
  font-size: 3rem;
  color: #CB6843;
}
main :is(p, a, li, strong, label) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: black;
}

/*# sourceMappingURL=main.css.map */
