// Helpers.
@import "./helpers/reset";
@import "./helpers/variables";

// Common style.
main {
  width: 100dvw;
  min-height: 100dvh;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    max-height: 100dvh;
    background-color: $beige;
  }

  :is(button, .button, input[type='submit']) {
    background-color: $terracota;
    color: $beige;
    padding: 1rem 1.5rem;
    border-radius: $radiusSmall;
    border: 3px solid $terracota;
    transition: all ease .3s;
    cursor: pointer;
    font-family: $textFont;
    font-size: 1.5rem;

    &:hover {
      background-color: $beige;
      color: $terracota;
    }
  }

  :is(h1, h2, h3, h4) {
    font-family: $titleFont;
    font-size: 3rem;
    color: $terracota;
  }

  :is(p, a, li, strong, label) {
    font-family: $textFont;
    font-size: 1.5rem;
    color: black;
  }
}
