<template>
  <main>
    <ViewAside>
    </ViewAside>

    <section class="content-container">
      <RouterView />
    </section>

  </main>
</template>

<script lang="ts">
import { defineComponent} from "vue";

import ViewAside from "@/components/SideBar.vue";

export default defineComponent({
  name: "App",
  components: {
    ViewAside,
  },
  setup() {

    return {
    };
  },
});
</script>

<style lang="scss">
@import "@/assets/main.scss";
</style>
